footer {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--color-green);
  align-items: start;
}

footer *,
footer h1,
footer h2,
footer h3 {
  color: var(--color-background);
}

footer li {
  font-family: "", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 0.4rem 0.6rem;
}

footer a {
  text-decoration: none;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 50px;
  padding-top: 2rem;
  gap: 2rem;
}
