@import "./header.css";
@import "./footer.css";
/*************** HUSK AT SKRIVE HVIS DU LAVER ÆNDRINGER - MEGET VIGTIGT!! *********************/
/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************** Farver ******************/
:root {
  --color-accent: #ff9a62;
  --color-background: #f2e3c8;
  --color-text: #703b3c;
  --color-green: #665f2a;
  --color-blue: #1e1350;
}

body {
  background-color: var(--color-background);
}
/************* Fonts ***************/
h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: lighter;
  color: var(--color-text);
}
h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: lighter;
  color: var(--color-text);
}
h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: lighter;
  color: var(--color-text);
}
h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.87rem;
  font-style: normal;
  font-weight: lighter;
  color: var(--color-text);
}
p {
  font-family: "Karla";
  font-size: 1rem;
  font-style: normal;
  line-height: 40px;
  max-width: 65ch;
  color: var(--color-text);
}

a {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: lighter;
  color: var(--color-text);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.06rem;
  }
  h4 {
    font-size: 0.93rem;
  }
  p {
    font-size: 0.75rem;
    line-height: 20px;
  }

  a {
    font-size: 0.93rem;
  }
}
