---
const { footerClass } = Astro.props;
import Footer from "../components/footer.astro";
import Header from "../components/menu.astro";
import ProductCard from "../components/productCard.astro";
import Layout from "../layout/layout.astro";
import Knap from "../components/buttons.astro";

//Supabase-oplysninger hentes fra import.meta.env//
const url = `${import.meta.env.SUPABASE_URL}/rest/v1/eksamen?select=*&limit=4`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  //API-nøglen sendes med i headers//
  headers: {
    apikey: apiKey,
  },
};

//Koden kører i Astro frontmatter await fetch() erstatter getData()//
const data = await fetch(url, options).then((res) => res.json());

//data kan bagefter bruges direkte i HTML-delen//
---

<Layout title="Dine Favoritter">
  <section class="favoritter-side">
    <h1>Dine Favoritter</h1>
    <div class="favoritter-grid">
    {data.map((produkt: any) => {
  return (
    <div class="produkt-wrapper">
      <ProductCard eksamen={produkt} isHeartShown={false} showOenskeSkyen={true} />
      <div class="knap">
      <Knap tekst="Tilføj til kurv" href="/kurv" type="orange" />
      </div>
    </div>
  );
})}
    </div>
   
  </section>
</Layout>

<style>
  .favoritter-side {
    padding: 0 113px;
  }

  .favoritter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 2rem;
    justify-content: space-between;
    justify-items: center;
  }
  .knap{
    padding: 40px;
  }
</style>

<style>
  .favoritter-side h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .favoritter-grid :global(.plusplacering) {
    display: none;
  }

  /* MOBILE */
  @media (max-width: 768px) {
    .favoritter-side {
      padding: 0 16px;
      grid-template-columns: 1fr;
    }

    .favoritter-side h1 {
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
    }

    .favoritter-grid {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    img {
      width: 100%;
      height: auto;
    }

  
      .knap{
    padding: 20px;
  }
  }
</style>
