---
// Henter tekst, link og type der er sendt med fra page //
const { tekst, href, type } = Astro.props;
---

<a href={href} class={type}>{tekst}</a>

<style>
       a {

    }

  .blaa {
        background-color: blue;
    }

    .orange{
        
    }

    .gron{
        
    }

    .rod{
        
    }

    .beige{
        
    }

    .plus{
        
    }
</style>