---
// Henter tekst, link og type der er sendt med fra page //
const { tekst, href, type } = Astro.props;
---

<a href={href} class={type}> {tekst}</a>


<style>
       a {
text-decoration: none;
margin: 10px;
padding: 15px;
padding-left: 30px;
padding-right: 30px;
border-radius: 15px;
    }

  .blaa {
background-color: var(--color-blue);
color: var(--color-background);
    }

.blaa:hover {
border: 1px solid var(--color-blue);
background-color: transparent;
font-style: italic;
color: var(--color-blue);
    }

    .orange {
background-color: var(--color-accent);
color: var(--color-text);
    }
    .orange:hover{
border: 1px solid var(--color-accent);
background-color: transparent;
color: var(--color-accent);
font-style: italic;
    }

    .gron{
        background-color: var(--color-green);
color: var(--color-background);
    }

    .gron:hover{
        border: 1px solid var(--color-green);
background-color: transparent;
color: var(--color-green);
font-style: italic;
    }

    .rod{
        background-color: var(--color-text);
color: var(--color-background);
    }

      .rod:hover {
border: 1px solid var(--color-text);
background-color: transparent;
color: var(--color-text);
font-style: italic;
    }

    .beige{
         background-color: var(--color-background);
color: var(--color-blue);
    }
    .beige:hover{
        border: 1px solid var(--color-background);
background-color: transparent;
color: var(--color-background);
font-style: italic;
    }

 @media (max-width: 768px) {
           a {
text-decoration: none;
margin: 10px;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
    }
 }   
</style>