---
//components/footer.astro
import Layout from "../layout/layout.astro";
---

<footer>
  <ul>
    <li><h2>Information</h2></li>
    <li>FAQ</li>
    <li>Vores materialer</li>
    <li>Smykkepleje</li>
    <li>Retur</li>
  </ul>
  <ul>
    <li><h2>Friihof + Siig</h2></li>
    <li>Vores historie</li>
    <li>Find butik</li>
    <li>Bliv forhandler</li>
    <li>B2B</li>
    <li>Job</li>
    <li>Tilmeld dig vores nyhedsbrev</li>
  </ul>
  <ul>
    <li><h2>Kundeservice</h2></li>
    <li>Jylland/Fyn - Pernille Hjorth Andersen, 30 22 14 04</li>
    <li>Sjælland - Linette Simon, 61 71 55 02</li>
    <li>Friihof + Siig Aps - Blablavej 10, 7400 Herning</li>
  </ul>
  <ul>
    <li><a href="https://www.instagram.com/friihofsiig/"><img src="img/ikoner/insta.svg" alt="" /></a></li>
    <li><a href="https://www.facebook.com/Friihof/"><img src="img/ikoner/facebook.svg" alt="" /></a></li>
    <li><a href="https://www.tiktok.com/@friihofsiig/"><img src="img/ikoner/tiktok.svg" alt="" /></a></li>
  </ul>
</footer>
