---
//components/menu.astro
import Layout from "../layout/layout.astro";
---

<header>
  <nav>
    <ul class="menu">
      <li class="dropdown">
        <a href="/Smykker">Smykker</a>
        <ul class="dropdown-menu">
          <li><a href="">Nyheder</a></li>
          <li><a href="">Bestsellers</a></li>
          <li><a href="">Øreringe</a></li>
          <li><a href="">Halskæder</a></li>
          <li><a href="">Armbånd</a></li>
          <li><a href="">Brocher</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/Smykker">Gaver</a>
        <ul class="dropdown-menu">
          <li><a href="">Pris:</a></li>
          <li><a href="">Under 200kr</a></li>
          <li><a href="">Under 300kr</a></li>
          <li><a href="">Under 400kr</a></li>
          <li><a href="">Over 400kr</a></li>
          <li><a href="">Anledning:</a></li>
          <li><a href="">Mors dag</a></li>
          <li><a href="">Konfirmation</a></li>
          <li><a href="">Student</a></li>
        </ul>
      </li>

      <li><a href="//">Om F+S</a></li>
      <li><a href="/"> <img src="/img/ikoner/logo-fs.svg" alt="logo" /></a></li>

      <li><a href="">Dine Favoritter</a></li>
      <li><a href="">Kurv</a></li>

      <div class="dropdown">
<li>
  <button class="search-icon" type="button">
    <img src="/img/ikoner/soge.svg" alt="søgefunktion" />
  </button>
</li>
      </div>
    </ul>
  </nav>
</header>

<style>
.search-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-icon img {
  width: 28px;
  display: block;
}
</style>