---
const { footerClass } = Astro.props;
import Footer from "../components/footer.astro";
import Menu from "../components/menu.astro";
import Header from "../components/menu.astro";
import SearchBar from "../components/searchBar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/img/ikoner/faviconf+s.ico" />
    <title>Friihof+Siig</title>
  </head>
  <body>
    <Menu />
    <SearchBar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
